@import "/styles/variables";

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1.25rem;
  height: $mobile-header;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: background-color 0.1s ease-out;
  * {
    font-size: 12px;
  }
}

.headerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home {
  padding: 0.25rem 0.5rem;
  margin-left: -0.5rem;
  &:hover {
    background: $lighter;
  }
}

.mobile__menuWrapper {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  .menuBtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu {
    z-index: 100;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    padding: 0.25rem 0;
    background: white;
    box-shadow: 0 4px 16px 0 rgba(black, 0.05);
    a {
      display: flex;
      align-content: center;
      padding: 0.5rem 1rem;
    }
  }
  .submenu {
    display: flex;
    flex-direction: column;
    a {
      font-size: 10px;
      padding-left: 1.5rem;
    }
  }
}

.tabContainer {
  display: none;
}

@media only screen and (min-width: 480px) {
  .headerContainer {
    padding: 0 1.5rem;
    height: $tablet-header;
    * {
      font-size: 14px;
    }
  }
  .home {
    padding: 0.5rem 0.75rem;
    margin-left: -0.75rem;
  }
  .mobile__menuWrapper {
    display: none;
  }
  .tabContainer {
    display: flex;
    align-items: center;
    .tab {
      padding: 0.5rem 1rem;
      opacity: 0.5;
      position: relative;
      &:hover {
        opacity: 1;
      }
      &::after {
        pointer-events: none;
        content: "";
        position: absolute;
        bottom: 0rem;
        right: 0.75rem;
        background: black;
        height: 2px;
        width: 0;
        transition: width 0.2s ease-out;
      }
      &.active {
        opacity: 1;
        &::after {
          height: 2px;
          width: calc(100% - 1.5rem);
        }
      }
    }
  }
  .projectsContainer {
    position: relative;
    cursor: pointer;
    .tab.hovered {
      opacity: 1;
    }
    .projectsWrapper {
      z-index: 100;
      padding-top: 0.75rem;
      position: absolute;
      bottom: 0;
      right: 0.75rem;
      transform: translateY(100%);
      .projectsMenu {
        display: flex;
        flex-direction: column;
        padding: 0.25rem 0;
        box-shadow: 0 4px 16px 0 rgba(black, 0.05);
        a {
          font-size: 13px;
          padding: 0.5rem 1rem;
          &:hover {
            background: $lighter;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .headerContainer {
    padding: 0 2rem;
    height: $desktop-header;
    * {
      font-size: 16px;
    }
  }
  .headerWrapper {
    max-width: $max-width;
  }
  .projectsContainer {
    .projectsWrapper {
      padding-top: 0.75rem;
      .projectsMenu {
        padding: 0.25rem 0;
        a {
          font-size: 14px;
          padding: 0.75rem 1rem;
        }
      }
    }
  }
}
