@import "/styles/variables";

.container {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26%;
  box-shadow: 0 4px 1rem -2px;
  transition: box-shadow 0.1s ease-out, transform 0.1s ease-out;
  &:hover {
    transform: translateY(2px);
    box-shadow: none;
  }
}
