@import "/styles/variables";

.container {
  margin: 1rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem;
  padding: 0.5rem;
}

.tab {
  border-radius: 4px;
  height: 2rem;
  width: 100%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  transition: opacity 0.1s ease-out, background-color 0.1s ease-out;
  &.active {
    opacity: 1;
    background: $lighter;
  }
  &:hover {
    opacity: 1;
  }
}

@media only screen and (min-width: 480px) {
  .container {
    margin: 1.5rem 0;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    max-width: 600px;
  }
  .tab {
    width: auto;
    padding: 0 2vw;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    margin: 2rem 0;
  }
  .tab {
    height: 3rem;
    margin-right: 1.5rem;
    font-size: 14px;
    padding: 0 1.5rem;
  }
}
