@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto+Mono:wght@300;400&display=swap&family=Inter&display=swap");

$poppins: "Poppins", sans-serif;
$roboto-mono: "Roboto Mono", monospace;
$inter: "Inter", sans-serif;

$lighter: #f7f7f7;
$light: #e9e9e9;

$max-width: 1200px;

$mobile-header: 3.5rem;
$tablet-header: 4rem;
$desktop-header: 5rem;

$blue: #0b8aff;
