@import "/styles/variables";

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.h1 {
  font-size: 1.75rem;
  font-family: $poppins;
  margin: 1rem 0;
}

.h2 {
  font-size: 1.25rem;
  font-family: $poppins;
  margin: 0.5rem 0;
}

.banner {
  margin: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  .cbLogo {
    position: relative;
    width: 8rem;
  }
}

.gridDisplay {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.team {
  position: relative;
  width: 100%;
  padding-bottom: 57%;
  margin: 1rem 0;
}

.collage {
  position: relative;
  width: 100%;
  padding-bottom: 53%;
  margin: 1rem 0;
}

.intro {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  .links {
    display: flex;
    align-items: center;
    a {
      opacity: 0.5;
      font-size: 12px;
    }
  }
}

.content {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.p {
  margin: 0.5rem 0;
  font-size: 12px;
  font-family: $poppins;
}

.demo {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .videoContainer {
    width: 100%;
    padding-bottom: 24.7%;
    overflow: hidden;
    position: relative;
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .demoToggle {
    margin-top: 0.25rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    button {
      border-radius: 4px;
      margin: 0 0.1rem;
      height: 100%;
      font-size: 12px;
      padding: 0 0.5rem;
      color: grey;
      opacity: 0.5;
      transition: opacity 0.1s ease-out, background-color 0.1s ease-out,
        color 0.1s ease-out;
      &.active {
        background: rgba(#0077ff, 0.05);
        opacity: 1;
        color: #0077ff;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

.rbb {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  .rbbContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    .rbbVidContainer {
      margin: 1rem 0;
      width: 100%;
      padding-bottom: 56.25%;
      position: relative;
      .rbbVid {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .p {
      align-self: center;
    }
  }
}

@media only screen and (min-width: 480px) {
  .main {
    align-self: center;
    max-width: 600px;
  }
  .h1 {
    font-size: 2.5rem;
  }
  .h2 {
    font-size: 1.75rem;
  }
  .p {
    font-size: 13px;
    margin: 0.75rem 0;
  }
  .banner {
    margin: 1.5rem 0;
  }
  .collage {
    margin: 1.5rem 0;
  }
  .demo {
    margin: 1.5rem 0;
    .demoToggle {
      margin-top: 0.5rem;
      height: 2rem;
      button {
        font-size: 13px;
        padding: 0 0.75rem;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    max-width: $max-width;
  }
  .h1 {
    font-size: 4.5rem;
    margin: 2rem 0;
  }
  .h2 {
    font-size: 3rem;
    margin: 1rem 0;
    max-width: 50rem;
  }
  .p {
    width: 100%;
    font-size: 16px;
    margin: 1rem 0;
    max-width: 30rem;
  }
  .banner {
    margin: 5rem 0;
    .cbLogo {
      margin: 2rem 0;
      position: relative;
      width: 12rem;
    }
  }
  .gridDisplay {
    margin: 4rem 0;
    display: grid;
    grid-template-areas:
      "team intro"
      "content collage";
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 6rem;
  }
  .team {
    margin: 0;
    grid-area: team;
  }
  .collage {
    margin: 0;
    grid-area: collage;
  }
  .intro {
    margin: 0;
    grid-area: intro;
    justify-content: flex-end;
  }
  .content {
    grid-area: content;
    margin: 0;
    justify-content: center;
    align-items: flex-end;
  }
  .demo {
    margin: 4rem 0;
    .demoToggle {
      margin-top: 1rem;
      height: 3rem;
      button {
        font-size: 18px;
        padding: 0 1.5rem;
      }
    }
  }
  .rbb {
    margin: 4rem 0;
    .rbbContent {
      width: auto;
      align-self: center;
      flex-direction: row;
      align-items: flex-end;
      margin: 2rem 0;
      .rbbVidContainer {
        width: 40rem;
        height: 22.5rem;
        padding: 0;
      }
      .p {
        margin-left: 3rem;
        max-width: 16rem;
        align-self: flex-end;
      }
    }
  }
}
