@import "/styles/variables";

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.h2 {
  font-size: 1.5rem;
  font-family: $poppins;
  font-weight: 600;
  padding: 0 2vw;
}

.img {
  position: relative;
  width: 100%;
}

.ipad {
  padding-bottom: 72%;
  border-radius: 1rem;
  overflow: hidden;
}

.t1 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
  line-height: 1.25em;
}

.icon {
  height: 21vw;
  width: 21vw;
  margin: 0 3vw;
}

.t2 {
  font-size: 13vw;
  line-height: 1em;
  color: $light;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
  align-self: center;
  text-align: center;
}

.corner {
  margin-top: 4rem;
  padding-bottom: 55%;
  margin-bottom: 0;
}

.t3 {
  width: 100%;
  line-height: 1.25em;
  font-size: 1.75rem;
  margin-top: -3.15rem;
  margin-bottom: 1rem;
  align-self: flex-end;
  text-align: right;
}

.collage {
  margin-top: 6rem;
  margin-bottom: 1rem;
  padding: 0;
  overflow: hidden;
  .collageInner {
    margin: 0;
    padding-bottom: 75%;
  }
}

.t4 {
  margin-bottom: 4rem;
  font-weight: 500;
  b {
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
  }
}

@media only screen and (min-width: 480px) {
  .main {
    align-self: center;
    max-width: 600px;
    margin-bottom: 4rem;
  }

  .h2 {
    font-size: 2rem;
  }

  .ipad {
    margin-top: 2rem;
  }

  .t1 {
    font-size: 3rem;
    margin-bottom: 8rem;
  }

  .icon {
    max-height: 150px;
    max-width: 150px;
    margin: 0 1.5rem;
  }

  .t2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 1.25em;
  }

  .corner {
    margin-top: 6rem;
  }

  .t3 {
    margin-top: -3.75rem;
    margin-bottom: 4rem;
  }

  .collage {
    margin-top: 8rem;
  }

  .t4 {
    margin-top: 1rem;
    margin-bottom: 10rem;
  }
}

@media only screen and (min-width: 1200px) {
  .h2 {
    font-size: 2.5rem;
  }
  .t2 {
    font-size: 5rem;
  }
  .t3 {
    margin-top: -4rem;
  }
}
